header, main, footer {
	min-width: 855px;
}

header.container, main.container, footer.container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
}

main {
	background: white;
}

body {
	background: linen;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}